<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <script src="https://unpkg.com/react@15.4.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.4.2/dist/react-dom.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.29/browser.js">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>



<div class="container">


</div>

<script type="text/babel" >



//App component

class App extends React.Component {
  constructor(props){
    super(props);

    this.state = {
      users : [],
    };


  }

  userSearch(searchQuery, sortBy, order){
    debugger;
    if (typeof searchQuery === undefined){
      searchQuery = '';
    }
    if (typeof sortBy === undefined){
      sortBy = 'id';
    }
    if (typeof order === undefined){
      order = 'asc';
    }
    const SEARCH_URL =  `http://127.0.0.1:5000/api/v1/search/?query=${searchQuery}&sort_by=${sortBy}&order=${order}`
    axios.get(SEARCH_URL).then((response)=>{
      this.setState({
        users : response.data.results
      });
    });

  }

  render(){

    const userSearch = _.debounce((searchQuery,sortBy,order)=>{this.userSearch(searchQuery,sortBy,order)},1000)
    return (
      <div>
        <SearchBar onChange = {userSearch}  />
        <br/>
        <UsersList users = {this.state.users} />
      </div>
    );
  }

  componentDidMount(){
    this.userSearch('','id','asc');
  }

}

//SearchBar component

class SearchBar extends React.Component{
  constructor(props){
    super(props);

  }

  handleChange (){
    let term = this.refs.term.value;
    let order = this.refs.order.value;
    let sortBy = this.refs.sortBy.value;
    this.props.onChange(term,sortBy,order);
  }

  render(){
    return(
      <div>
        <br/>
        <div className="input-group">
            <input className="form-control" ref ="term" placeholder="Search for" required onChange = {this.handleChange.bind(this)} />
                        <span className="input-group-btn">
                            <button type="submit" className="btn btn-default"><i
                                    className="glyphicon glyphicon-search"></i></button>
                        </span>
        </div>
        <br/>
        <form className="form-inline">
            <div className="form-group">
                <label >Sort by:</label>
                <select ref ="sortBy" className="form-control" onChange = {this.handleChange.bind(this)}>
                    <option value="id">ID</option>
                    <option value="first_name">First Name</option>
                    <option value="last_name">Last Name</option>
                    <option value="gender">Gender</option>
                    <option value="email">Email</option>
                    <option value="job_title">Job Title</option>
                </select>
            </div>
            <div className="form-group">
                <label >Order:</label>
                <select ref ="order" className="form-control"  onChange = {this.handleChange.bind(this)} >
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
        </form>
      </div>
    );
  }

}

//UsersList Component
const UsersList = (props)=>{
  const user = props.users.map((user)=>{
    return (

        <tr key = {user.id}  onClick={()=>window.open(`http://127.0.0.1:5000/view/${user.id}`)} >
            <td>{user.id}</td>
            <td>{user.first_name}</td>
            <td>{user.last_name}</td>
            <td>{user.gender}</td>
            <td>{user.email}</td>
            <td>{user.job_title}</td>
        </tr>

    );
  });
  return(
    <div>
      <table className="table table-striped table-hover">
          <thead>
          <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Job Title</th>
          </tr>
          </thead>
          <tbody>
          {user}
          </tbody>
      </table>
    </div>
  );
};


ReactDOM.render(
  <App />,
  document.querySelector(".container")
);

</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
